<%= form_with(model: Micotter.new, local: true) do |form| %>
    <div class="micotter_content">
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <%= form.submit %>
  <% end %>