<h1>ミコート一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @micotters.each do |micotter| %>
  <tr>
    <td><%= micotter.content %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくミコートを投稿する', new_micotter_path %>